.growtype-form-wrapper label.error {
  color: #dc3232;
  display: inline-block;
  width: 100%;
}
.growtype-form-wrapper .alert {
  font-size: 14px;
}
.growtype-form-wrapper form .b-file-preview {
  margin-top: 10px;
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0 0 12px 0px #e6e6e6;
          box-shadow: 0 0 12px 0px #e6e6e6;
}
.growtype-form-wrapper form .b-file-preview .e-title {
  font-size: 14px;
  max-width: 160px;
  margin-top: 10px;
  display: block;
}
.growtype-form-wrapper form .col-auto {
  width: 50%;
}
@media only screen and (max-width: 640px) {
  .growtype-form-wrapper form .col-auto {
    width: 100%;
  }
}
.growtype-form-wrapper form .fields-confirmation {
  padding-top: 10px;
  padding-bottom: 0;
  bottom: -10px;
}
.growtype-form-wrapper form .fields-confirmation .col-auto {
  width: 100%;
  padding-top: 5px;
}
.growtype-form-wrapper form .row-submit {
  padding-top: 20px;
}
.growtype-form-wrapper form .form-check-input[type=checkbox] + .form-label {
  padding-left: 1px;
  margin: 0;
}
.growtype-form-wrapper form .field-description {
  margin-bottom: 14px;
  font-size: 12px;
  margin-top: -3px;
}
.growtype-form-wrapper form .field-explanation {
  font-size: 12px;
  padding-top: 10px;
}
.growtype-form-wrapper .form-label,
.growtype-form-wrapper label[for=user_login],
.growtype-form-wrapper label[for=user_pass] {
  margin-bottom: 0.5rem;
}
.growtype-form-wrapper .form-label .required,
.growtype-form-wrapper label[for=user_login] .required,
.growtype-form-wrapper label[for=user_pass] .required {
  color: #FF5050;
  padding-left: 2px;
}
.growtype-form-wrapper .repeater-fields {
  position: relative;
  margin-top: 20px;
}
.growtype-form-wrapper .repeater-fields:first-child {
  margin-top: 0;
}
.growtype-form-wrapper .repeater-fields .btn-remove {
  position: absolute;
  right: 10px;
  left: initial;
  width: initial;
  top: 0;
  z-index: 1;
  margin: 0;
}
@media only screen and (max-width: 640px) {
  .growtype-form-wrapper .repeater-fields .btn-remove {
    max-width: 80px;
  }
}
.growtype-form-wrapper .repeater-fields-folded {
  padding-bottom: 0;
  margin-top: 0;
}
.growtype-form-wrapper .repeater-fields-folded .repeater-fields > * {
  display: none;
}
.growtype-form-wrapper .repeater-fields-folded .repeater-fields .btn-wrapper {
  display: block;
  margin-top: 0 !important;
}

.login-template-default .form-wrapper,
.signup-template-default .form-wrapper,
.growtype-form-auth .form-wrapper {
  background: white;
  border: 1px solid #e7e7e7;
}
.login-template-default .growtype-form-alert-wrapper,
.signup-template-default .growtype-form-alert-wrapper,
.growtype-form-auth .growtype-form-alert-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}
.login-template-default .growtype-form-alert,
.signup-template-default .growtype-form-alert,
.growtype-form-auth .growtype-form-alert {
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 10px;
}
.login-template-default .wp-block-group-wrapper .growtype-form-alert,
.signup-template-default .wp-block-group-wrapper .growtype-form-alert,
.growtype-form-auth .wp-block-group-wrapper .growtype-form-alert {
  max-width: initial;
}
.login-template-default .container .growtype-form-wrapper .growtype-form-container,
.signup-template-default .container .growtype-form-wrapper .growtype-form-container,
.growtype-form-auth .container .growtype-form-wrapper .growtype-form-container {
  padding-left: 0;
  padding-right: 0;
}
.login-template-default .container .growtype-form-alert-wrapper,
.signup-template-default .container .growtype-form-alert-wrapper,
.growtype-form-auth .container .growtype-form-alert-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.login-template-default .growtype-form-wrapper .growtype-form-container,
.signup-template-default .growtype-form-wrapper .growtype-form-container,
.growtype-form-auth .growtype-form-wrapper .growtype-form-container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.login-template-default .growtype-form-wrapper .alert,
.signup-template-default .growtype-form-wrapper .alert,
.growtype-form-auth .growtype-form-wrapper .alert {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  padding: 1em 3.5em 1em 3.5em;
}
.login-template-default .growtype-form-wrapper[data-name=signup] .form-wrapper, .login-template-default .growtype-form-wrapper[data-name=login] .form-wrapper,
.signup-template-default .growtype-form-wrapper[data-name=signup] .form-wrapper,
.signup-template-default .growtype-form-wrapper[data-name=login] .form-wrapper,
.growtype-form-auth .growtype-form-wrapper[data-name=signup] .form-wrapper,
.growtype-form-auth .growtype-form-wrapper[data-name=login] .form-wrapper {
  padding: 10px 30px;
  padding-bottom: 5px;
}
@media only screen and (max-width: 640px) {
  .login-template-default .growtype-form-wrapper[data-name=signup] .form-wrapper, .login-template-default .growtype-form-wrapper[data-name=login] .form-wrapper,
.signup-template-default .growtype-form-wrapper[data-name=signup] .form-wrapper,
.signup-template-default .growtype-form-wrapper[data-name=login] .form-wrapper,
.growtype-form-auth .growtype-form-wrapper[data-name=signup] .form-wrapper,
.growtype-form-auth .growtype-form-wrapper[data-name=login] .form-wrapper {
    padding: 10px 15px;
  }
}
.login-template-default .growtype-form-wrapper[data-name=signup] .growtype-form-container, .login-template-default .growtype-form-wrapper[data-name=login] .growtype-form-container,
.signup-template-default .growtype-form-wrapper[data-name=signup] .growtype-form-container,
.signup-template-default .growtype-form-wrapper[data-name=login] .growtype-form-container,
.growtype-form-auth .growtype-form-wrapper[data-name=signup] .growtype-form-container,
.growtype-form-auth .growtype-form-wrapper[data-name=login] .growtype-form-container {
  max-width: 558px;
  margin: auto;
}
.login-template-default .growtype-form-wrapper .form-wrapper .login-username,
.login-template-default .growtype-form-wrapper .form-wrapper .login-password,
.signup-template-default .growtype-form-wrapper .form-wrapper .login-username,
.signup-template-default .growtype-form-wrapper .form-wrapper .login-password,
.growtype-form-auth .growtype-form-wrapper .form-wrapper .login-username,
.growtype-form-auth .growtype-form-wrapper .form-wrapper .login-password {
  margin-bottom: 15px;
  position: relative;
}
.login-template-default .growtype-form-wrapper .form-wrapper .login-remember,
.signup-template-default .growtype-form-wrapper .form-wrapper .login-remember,
.growtype-form-auth .growtype-form-wrapper .form-wrapper .login-remember {
  margin-top: 10px;
  display: inline-block;
}
.login-template-default .growtype-form-wrapper .form-wrapper .login-remember label,
.signup-template-default .growtype-form-wrapper .form-wrapper .login-remember label,
.growtype-form-auth .growtype-form-wrapper .form-wrapper .login-remember label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
}
.login-template-default .growtype-form-wrapper .form-inner-wrapper,
.signup-template-default .growtype-form-wrapper .form-inner-wrapper,
.growtype-form-auth .growtype-form-wrapper .form-inner-wrapper {
  position: relative;
}
.login-template-default .growtype-form-wrapper .form-inner-wrapper label:empty,
.signup-template-default .growtype-form-wrapper .form-inner-wrapper label:empty,
.growtype-form-auth .growtype-form-wrapper .form-inner-wrapper label:empty {
  display: none;
}
.login-template-default .growtype-form-wrapper .logo-wrapper,
.signup-template-default .growtype-form-wrapper .logo-wrapper,
.growtype-form-auth .growtype-form-wrapper .logo-wrapper {
  max-width: 240px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .login-template-default .growtype-form-wrapper .logo-wrapper,
.signup-template-default .growtype-form-wrapper .logo-wrapper,
.growtype-form-auth .growtype-form-wrapper .logo-wrapper {
    margin-bottom: 20px;
  }
}
.login-template-default .growtype-form-wrapper .form-wrapper .b-actions,
.login-template-default .growtype-form-wrapper .login #nav,
.signup-template-default .growtype-form-wrapper .form-wrapper .b-actions,
.signup-template-default .growtype-form-wrapper .login #nav,
.growtype-form-auth .growtype-form-wrapper .form-wrapper .b-actions,
.growtype-form-auth .growtype-form-wrapper .login #nav {
  text-align: center;
}
.login-template-default .growtype-form-wrapper .form-wrapper .b-actions a,
.login-template-default .growtype-form-wrapper .login #nav a,
.signup-template-default .growtype-form-wrapper .form-wrapper .b-actions a,
.signup-template-default .growtype-form-wrapper .login #nav a,
.growtype-form-auth .growtype-form-wrapper .form-wrapper .b-actions a,
.growtype-form-auth .growtype-form-wrapper .login #nav a {
  font-size: 14px;
  text-decoration: none;
  border: none;
}
.login-template-default .growtype-form-wrapper .form-wrapper .b-actions .e-dot,
.login-template-default .growtype-form-wrapper .login #nav .e-dot,
.signup-template-default .growtype-form-wrapper .form-wrapper .b-actions .e-dot,
.signup-template-default .growtype-form-wrapper .login #nav .e-dot,
.growtype-form-auth .growtype-form-wrapper .form-wrapper .b-actions .e-dot,
.growtype-form-auth .growtype-form-wrapper .login #nav .e-dot {
  font-size: 16px;
}
.login-template-default .growtype-form-wrapper form[name=lostpasswordform],
.signup-template-default .growtype-form-wrapper form[name=lostpasswordform],
.growtype-form-auth .growtype-form-wrapper form[name=lostpasswordform] {
  padding: 0 !important;
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-top: 5px !important;
  display: inline-block;
}
.login-template-default .growtype-form-wrapper form input[type=submit],
.login-template-default .growtype-form-wrapper form button[type=submit],
.signup-template-default .growtype-form-wrapper form input[type=submit],
.signup-template-default .growtype-form-wrapper form button[type=submit],
.growtype-form-auth .growtype-form-wrapper form input[type=submit],
.growtype-form-auth .growtype-form-wrapper form button[type=submit] {
  width: 100%;
}
.login-template-default .growtype-form-wrapper .lostpassword #lostpassword,
.signup-template-default .growtype-form-wrapper .lostpassword #lostpassword,
.growtype-form-auth .growtype-form-wrapper .lostpassword #lostpassword {
  max-width: 430px;
  padding-top: 50px;
}
.login-template-default .growtype-form-wrapper .e-separator,
.signup-template-default .growtype-form-wrapper .e-separator,
.growtype-form-auth .growtype-form-wrapper .e-separator {
  text-transform: uppercase;
  position: relative;
  width: 100%;
  text-align: center;
}
.login-template-default .growtype-form-wrapper .e-separator span,
.signup-template-default .growtype-form-wrapper .e-separator span,
.growtype-form-auth .growtype-form-wrapper .e-separator span {
  position: relative;
  z-index: 1;
  background: white;
  padding-left: 50px;
  padding-right: 50px;
}
.login-template-default .growtype-form-wrapper .e-separator:before,
.signup-template-default .growtype-form-wrapper .e-separator:before,
.growtype-form-auth .growtype-form-wrapper .e-separator:before {
  content: "";
  height: 1px;
  background: black;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
.login-template-default .growtype-form-wrapper .growtype-form-header + .form-inner-wrapper form,
.signup-template-default .growtype-form-wrapper .growtype-form-header + .form-inner-wrapper form,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header + .form-inner-wrapper form {
  padding-top: 0;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .nav,
.signup-template-default .growtype-form-wrapper .growtype-form-header .nav,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .nav {
  margin: 0;
  margin: auto;
  max-width: initial;
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-item,
.signup-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-item,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .nav .nav-item {
  text-align: center;
  width: 60%;
  margin: 0;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .login-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-item,
.signup-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-item,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .nav .nav-item {
    width: 100%;
  }
}
.login-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-item.is-active a,
.signup-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-item.is-active a,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .nav .nav-item.is-active a {
  color: #0d6efd;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-link,
.signup-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-link,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .nav .nav-link {
  padding: 20px 10px;
  font-size: 22px;
  color: #A4AEC0;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top + .nav,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top + .nav,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top + .nav {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top,
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  gap: 5px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .growtype-form-header-html,
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .growtype-form-header-html,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .growtype-form-header-html,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .growtype-form-header-html,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .growtype-form-header-html,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .growtype-form-header-html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .growtype-form-header-html p,
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .growtype-form-header-html p,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .growtype-form-header-html p,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .growtype-form-header-html p,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .growtype-form-header-html p,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .growtype-form-header-html p {
  margin: 0;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro,
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro {
  text-align: center;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: auto;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro:before,
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro:before,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro:before,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro:before,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro:before,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro:before {
  content: none;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro + .growtype-form-header-html,
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro + .growtype-form-header-html,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro + .growtype-form-header-html,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro + .growtype-form-header-html,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro + .growtype-form-header-html,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro + .growtype-form-header-html {
  padding-top: 30px;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .btn-back,
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .btn-back,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .btn-back,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .btn-back,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .btn-back,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .btn-back {
  margin-right: 15px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom {
  border: none;
}
.login-template-default .growtype-form-wrapper .growtype-form-footer .nav,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .nav,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .nav {
  max-width: 500px;
  margin: auto;
  padding-bottom: 25px;
}
.login-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-item,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-item,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .nav .nav-item {
  width: 50%;
  margin: 0;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 640px) {
  .login-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-item,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-item,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .nav .nav-item {
    width: 100%;
  }
}
.login-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-link,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-link,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .nav .nav-link {
  padding: 20px;
  border: 1px solid #0d6efd;
  border-radius: 5px;
}
.login-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-link.is-active a,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-link.is-active a,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .nav .nav-link.is-active a {
  color: #0d6efd;
}
.login-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-top,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-top,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  padding-top: 0;
  gap: 5px;
  font-size: 16px;
  position: relative;
}
.login-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  gap: 5px;
  border-top: 1px solid #efefef;
  margin-top: 25px;
}
.login-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom p,
.login-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom a,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom p,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom a,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom p,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom a {
  font-size: 14px;
  margin: 0;
}

.has-growtype-form .footer-disabled .site-footer {
  display: none;
}
.has-growtype-form form .chosen-container {
  width: 100% !important;
}

.signup-template-default .growtype-form-wrapper .alert {
  max-width: 560px;
}
@media only screen and (max-width: 640px) {
  .signup-template-default .growtype-form-wrapper .btn, .signup-template-default .growtype-form-wrapper label, .signup-template-default .growtype-form-wrapper a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 640px) {
  .signup-template-default .growtype-form-wrapper .growtype-form-container {
    max-width: 100%;
  }
}
.signup-template-default .growtype-form-wrapper .row-submit .d-grid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.signup-template-default .growtype-form-wrapper .growtype-form-wrapper form button[type=submit] {
  min-width: 250px;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .signup-template-default .growtype-form-wrapper .growtype-form-wrapper form button[type=submit] {
    min-width: initial;
  }
}
.signup-template-default .growtype-form-wrapper .growtype-form-wrapper .b-actions {
  margin: 0;
  background: #F5F6F7;
  color: #9A9EA7;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.signup-template-default .growtype-form-wrapper .growtype-form-wrapper .b-actions .btn-link {
  padding-left: 5px;
}
.signup-template-default .growtype-form-wrapper .growtype-form-wrapper .b-actions p {
  margin: 0;
  font-size: 14px;
}
.signup-template-default .growtype-form-wrapper .fields-confirmation {
  margin-top: 5px;
  max-width: 320px;
  display: block;
  margin-right: auto;
  position: relative;
  bottom: -5px;
  margin-left: 0;
  margin-bottom: 10px;
}
.signup-template-default .growtype-form-wrapper .fields-confirmation .col-auto {
  padding-left: 0;
}
.signup-template-default .growtype-form-wrapper .fields-confirmation .form-label {
  margin: 0;
  position: relative;
}
@media only screen and (max-width: 640px) {
  .signup-template-default .growtype-form-wrapper .growtype-form .btn-secondary {
    width: 100%;
  }
}

.signup-template-wide .growtype-form-wrapper .growtype-form-container, .signup-template-wide .growtype-form-wrapper .alert {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 640px) {
  .signup-template-wide .growtype-form-wrapper .growtype-form-container, .signup-template-wide .growtype-form-wrapper .alert {
    max-width: 100%;
  }
}
.signup-template-wide .growtype-form-wrapper .b-actions {
  margin: 0;
  background: #F5F6F7;
  color: #9A9EA7;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.signup-template-wide .growtype-form-wrapper .b-actions .btn-link {
  padding-left: 5px;
  border: none;
}
.signup-template-wide .growtype-form-wrapper .b-actions a {
  font-weight: bold;
}
.signup-template-wide .growtype-form-wrapper .b-actions p {
  margin: 0;
}
@media only screen and (max-width: 640px) {
  .signup-template-wide .growtype-form-wrapper .btn-secondary {
    width: 100%;
  }
}
.signup-template-wide .growtype-form-wrapper .growtype-form-wrapper form button[type=submit] {
  width: initial;
  min-width: 250px;
}
@media only screen and (max-width: 640px) {
  .signup-template-wide .growtype-form-wrapper .growtype-form-wrapper form button[type=submit] {
    width: 100%;
    min-width: initial;
  }
}
.signup-template-wide .growtype-form-wrapper .fields-confirmation .col-auto {
  padding-left: 0;
}
.signup-template-wide .growtype-form-wrapper .fields-confirmation .form-label {
  color: #9A9EA7;
  margin: 0;
  position: relative;
}
.signup-template-wide .growtype-form-wrapper .b-intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 640px) {
  .signup-template-wide .growtype-form-wrapper .b-intro {
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.signup-template-wide .growtype-form-wrapper .b-intro .e-title-intro {
  text-align: center;
  font-size: 18px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 22px;
}
.signup-template-wide .growtype-form-wrapper .b-intro .e-title-intro:before {
  content: none;
}
.signup-template-wide .growtype-form-wrapper .growtype-form {
  padding: 30px;
}
@media only screen and (max-width: 640px) {
  .signup-template-wide .growtype-form-wrapper .growtype-form {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.signup-template-wide .growtype-form-wrapper .fields-confirmation {
  margin-top: 5px;
  max-width: 320px;
  display: block;
  margin-right: auto;
  position: relative;
  margin-left: 0;
  margin-bottom: 10px;
}

.growtype-form-wrapper[data-name=login] .btn-recover-password {
  border: none;
  text-decoration: none;
  float: right;
  margin-top: 10px;
}
@media only screen and (max-width: 640px) {
  .growtype-form-wrapper[data-name=login] .btn, .growtype-form-wrapper[data-name=login] label, .growtype-form-wrapper[data-name=login] a {
    font-size: 14px;
  }
}
.growtype-form-wrapper[data-name=login] .login-submit {
  padding-top: 15px;
}
.growtype-form-wrapper[data-name=login] input[type=submit] {
  max-width: initial !important;
}
.growtype-form-wrapper[data-name=login] label {
  line-height: 18px;
  margin-bottom: 0.5rem;
}
.growtype-form-wrapper[data-name=login] label.error {
  margin-bottom: 0;
}
.growtype-form-wrapper[data-name=login] .b-actions {
  margin: 0;
  background: #F5F6F7;
  color: #9A9EA7;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.growtype-form-wrapper[data-name=login] .b-actions .btn-link {
  padding-left: 5px;
}
.growtype-form-wrapper[data-name=login] .b-actions p {
  margin: 0;
  font-size: 14px;
}

.page-gf-auth .site-footer {
  display: none;
}

.growtype-auth-modal-form {
  min-height: 200px;
}
.growtype-auth-modal-form .growtype-form-auth {
  max-width: 100%;
  width: 100%;
}
.growtype-auth-modal-form .growtype-form-auth .growtype-form-alert-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.growtype-auth-modal-form .growtype-form-auth .growtype-form-alert {
  -webkit-box-shadow: 0px 0px 5px 0px #dfdfdf;
          box-shadow: 0px 0px 5px 0px #dfdfdf;
}
.growtype-auth-modal-form .growtype-form-wrapper {
  margin: 0 auto;
  padding: 0 !important;
  background: transparent !important;
}
.growtype-auth-modal-form .growtype-form-wrapper .growtype-form-container {
  padding: 0 !important;
}
.growtype-auth-modal-form .growtype-form-wrapper .form-wrapper {
  padding: 0 !important;
  background: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
}

#growtypeFormAuthModal .modal-body {
  padding: 5px 25px;
}
@media only screen and (max-width: 640px) {
  #growtypeFormAuthModal .modal-body {
    padding: 5px 15px;
  }
}

#growtype-form-signup .main-fields:has(> *:nth-child(2)):not(:has(> *:nth-child(3))) > *:nth-child(2) {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}
