.growtype-form-wrapper {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
    -moz-appearance: textfield; /* Firefox */
  }

  input:not([type=checkbox]):not([type=radio]):not([type=submit]):not(.qty), textarea {
    min-height: 48px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .chosen-container-single .chosen-single abbr {
    top: 15px;
  }

  .e-wrapper {
    position: relative;

    .input-icon {
      position: absolute;
      right: 20px;
      top: 42px;
      opacity: 0.7;
      pointer-events: none;
    }

    &[data-label="false"] {
      .input-icon {
        top: 12px;
      }
    }
  }

  .input-file-wrapper {
    position: relative;

    .dashicons-media-document {
      font-size: 70px;
      width: 70px;
      height: 70px;
    }
  }

  .bootstrap-filestyle {
    .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, input:not([type=checkbox]):not([type=radio]):not([type=submit]):not(.qty), textarea {
      width: initial;
    }

    .group-span-filestyle {
      z-index: 1;
    }

    .form-control {
      background: none !important;
      border: none !important;
    }
  }

  .radio-wrapper {
    input[type=radio] {
      cursor: pointer;
      margin-right: 6px;
    }

    label {
      cursor: pointer;

      a {
        font-size: 14px;
      }
    }
  }

  .form-label-placeholder {
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    color: #999fa5;
    pointer-events: none;
    padding: 14px;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
  }

  label.error-label, label.error {
    margin-top: 5px;
    font-size: 14px;
  }

  .chosen-container-single .chosen-single {
    height: 48px !important;

    span {
      min-height: 45px;
    }
  }

  .chosen-container-single .chosen-single div b {
    top: 11px;
  }

  .chosen-single {
    padding-left: 15px;
  }

  .chosen-container-multi .chosen-choices {
    height: 48px !important;
    border-radius: 3px !important;

    .chosen-search-input {
      min-height: 47px !important;
      margin: 0 !important;
      font-size: 15px !important;
      padding-left: 9px !important;
    }
  }
}

.growtype-form-wrapper input:not([type=checkbox]):not([type=radio]):not([type=submit]):not(.qty)[type="file"] {
  padding-top: 13px;
}
