#growtype-form {
  padding-top: 10px;

  .col-auto {
    width: 50%;
  }

  .fields-confirmation {
    padding-top: 20px;

    .col-auto {
      width: 100%;
      padding-top: 5px;
    }
  }

  .row-submit {
    padding-top: 25px;
  }

  .form-check-input[type=checkbox] {
    margin-right: 7px;
  }

  .form-description {
    margin-bottom: 14px;
    font-size: 12px;
    margin-top: -3px;
  }
}

.growtype-form-wrapper {
  .alert {
    margin-bottom: 30px;
  }
}
