.signup-template-default {
  .growtype-form-container {
    max-width: 450px;
  }

  .fields-confirmation {
    margin-top: 5px;
    max-width: 320px;
    margin-left: auto;
    display: block;
    margin-right: auto;
    position: relative;
    bottom: -5px;
  }
}


