.signup-template-default {
  .growtype-form-container {
    max-width: 1100px;
    box-shadow: 0px 0px 17px 0px #e1e1e1;
    padding: 40px;
    border-radius: 12px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    @include bp-phone-xl() {
      max-width: 100%;
    }
  }

  .btn-secondary {
    @include bp-phone-xl() {
      width: 100%;
    }
  }

  .growtype-form-wrapper form button[type=submit] {
    width: initial;
    min-width: 250px;
    @include bp-phone-xl() {
      width: 100%;
      min-width: initial;
    }
  }

  .fields-confirmation {
    .col-auto {
      padding-left: 0;
    }

    .form-label {
      color: #9A9EA7;
      margin: 0;
      position: relative;
    }
  }

  .b-intro {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid #ebebeb;
    margin-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    @include bp-phone-xl() {
      margin-bottom: 10px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .e-title-intro {
      text-align: center;
      font-size: 18px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 22px;

      &:before {
        content: none;
      }
    }
  }

  #growtype-form {
    padding-left: 40px;
    padding-right: 40px;
    @include bp-phone-xl() {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .fields-confirmation {
    margin-top: 5px;
    max-width: 320px;
    display: block;
    margin-right: auto;
    position: relative;
    bottom: -5px;
    margin-left: 0;
    margin-bottom: 10px;
  }
}


