.page-newsletter-unsubscribe .main {
  text-align: center;
}

/**
Newsletter
 */
.growtype-form-newsletter .form-check {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.growtype-form-newsletter button[type=submit] {
  margin-top: 20px;
}

.growtype-form-newsletter {
  position: relative;
}
.growtype-form-newsletter .required {
  color: var(--theme-color);
}
.growtype-form-newsletter .status-message {
  position: absolute;
  bottom: -85px;
  left: 0;
  right: 0;
}
@media only screen and (max-width: 640px) {
  .growtype-form-newsletter .status-message {
    bottom: -109px;
  }
}
.growtype-form-newsletter .input-wrapper-inner {
  position: relative;
}
.growtype-form-newsletter .input-wrapper-inner .input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  color: #bbbbbb;
  pointer-events: none;
  z-index: 1;
}
.growtype-form-newsletter .input-wrapper-inner input[type=email] {
  padding-left: 40px !important;
}
.growtype-form-newsletter .input-wrapper-inner button[type=submit] {
  display: none;
}
.growtype-form-newsletter.submit-in-input button[type=submit] {
  display: none;
}
.growtype-form-newsletter.submit-in-input .input-wrapper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.growtype-form-newsletter.submit-in-input .input-wrapper-inner input[type=email] {
  padding-right: 100px;
}
.growtype-form-newsletter.submit-in-input .input-wrapper-inner button[type=submit] {
  min-width: initial;
  padding: 5px 20px;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 90%;
  margin: auto;
  right: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
