.growtype-form-wrapper {
  .alert {
    margin-bottom: 30px;
    font-size: 14px;
  }

  #growtype-form {

    .b-file-preview {
      margin-top: 10px;
      display: inline-block;
      padding: 15px;
      border-radius: 5px;
      background: white;
      box-shadow: 0 0 12px 0px #e6e6e6;

      .e-title {
        font-size: 14px;
        max-width: 160px;
        margin-top: 10px;
        display: block;
      }
    }

    .col-auto {
      width: 50%;
      @include bp-phone-xl() {
        width: 100%;
      }
    }

    .fields-confirmation {
      padding-top: 20px;

      .col-auto {
        width: 100%;
        padding-top: 5px;
      }
    }

    .row-submit {
      padding-top: 10px;
    }

    .form-check-input[type=checkbox] {
      margin-right: 7px;
    }

    .form-description {
      margin-bottom: 14px;
      font-size: 12px;
      margin-top: -3px;
    }
  }

  .form-label {
    .required {
      color: #FF5050;
      padding-left: 2px;
    }
  }

  .chosen-container-single .chosen-single {
    border-radius: 5px !important;
    border: 1px solid #e4e4e4;
    box-shadow: none;
    height: 43px !important;
  }

  .repeater-fields {
    position: relative;
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }

    .btn-remove {
      position: absolute;
      right: 10px;
      left: initial;
      width: initial;
      top: 0;
      z-index: 1;
      margin: 0;
      @include bp-phone-xl() {
        max-width: 80px;
      }
    }
  }

  .repeater-fields-folded {
    padding-bottom: 0;
    margin-top: 0;

    .repeater-fields {
      > * {
        display: none;
      }

      .btn-wrapper {
        display: block;
        margin-top: 0 !important;
      }
    }
  }
}

.login-template-default, .signup-template-default {
  .growtype-form-wrapper {
    .growtype-form-container {
      margin: auto;
      margin-bottom: 80px;
    }

    .alert {
      margin: auto;
      font-size: 14px;
      margin-bottom: 30px;
    }

    .form-wrapper {
      .b-actions {
        margin-top: 20px;

        label {
          position: relative;
          bottom: -1px;
        }
      }

      .login-username, .login-password {
        margin-bottom: 15px;
      }

      .login-remember {
        margin-top: 10px;
        display: inline-block;

        label {
          display: flex;
          align-items: center;
        }
      }
    }

    .logo-wrapper {
      max-width: 240px;
      margin: auto;
      margin-bottom: 30px;
      text-align: center;
      @include bp-phone-xl() {
        margin-bottom: 20px;
      }
    }

    .form-wrapper .b-actions, .login #nav {
      text-align: center;

      a {
        font-size: 14px;
        text-decoration: none;
        border: none;
      }

      .e-dot {
        font-size: 16px;
      }
    }

    form {
      input[type="submit"], button[type="submit"] {
        width: 100%;
        margin-top: 20px;
      }

      &[name="lostpasswordform"] {
        padding: 0 !important;
        background: none !important;
        box-shadow: none !important;
        margin-top: 5px !important;
        display: inline-block;
      }
    }

    .lostpassword {
      #lostpassword {
        max-width: 430px;
        padding-top: 50px;
      }
    }
  }
}

.footer-disabled {
  .site-footer {
    display: none;
  }
}

form {
  .chosen-container {
    width: 100% !important;
  }
}
