.growtype-form-wrapper {
  .alert {
    margin-bottom: 30px;
    font-size: 14px;
  }

  form {
    input[type="submit"], button[type="submit"] {
      margin-top: 20px;
    }

    .b-file-preview {
      margin-top: 10px;
      display: inline-block;
      padding: 15px;
      border-radius: 5px;
      background: white;
      box-shadow: 0 0 12px 0px #e6e6e6;

      .e-title {
        font-size: 14px;
        max-width: 160px;
        margin-top: 10px;
        display: block;
      }
    }

    .col-auto {
      width: 50%;
      @include bp-phone-xl() {
        width: 100%;
      }
    }

    .fields-confirmation {
      padding-top: 10px;
      padding-bottom: 0;
      bottom: -10px;

      .col-auto {
        width: 100%;
        padding-top: 5px;
      }
    }

    .row-submit {
      padding-top: 10px;
    }

    .form-check-input[type=checkbox] {
      margin-right: 7px;
    }

    .field-description {
      margin-bottom: 14px;
      font-size: 12px;
      margin-top: -3px;
    }

    .field-explanation {
      font-size: 12px;
      padding-top: 10px;
    }
  }

  .form-label, label[for="user_login"], label[for="user_pass"] {
    margin-bottom: 0.5rem;

    .required {
      color: #FF5050;
      padding-left: 2px;
    }
  }

  .repeater-fields {
    position: relative;
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }

    .btn-remove {
      position: absolute;
      right: 10px;
      left: initial;
      width: initial;
      top: 0;
      z-index: 1;
      margin: 0;
      @include bp-phone-xl() {
        max-width: 80px;
      }
    }
  }

  .repeater-fields-folded {
    padding-bottom: 0;
    margin-top: 0;

    .repeater-fields {
      > * {
        display: none;
      }

      .btn-wrapper {
        display: block;
        margin-top: 0 !important;
      }
    }
  }
}

.login-template-default, .signup-template-default {
  .growtype-form-wrapper {
    .growtype-form-container {
      margin: auto;
      padding-left: 15px;
      padding-right: 15px;
    }

    .alert {
      margin: auto;
      font-size: 14px;
      margin-bottom: 30px;
    }

    .form-wrapper {
      .login-username, .login-password {
        margin-bottom: 15px;
        position: relative;
      }

      .login-remember {
        margin-top: 10px;
        display: inline-block;

        label {
          display: flex;
          align-items: center;
        }
      }
    }

    .form-inner-wrapper {
      position: relative;

      label:empty {
        display: none;
      }
    }

    .logo-wrapper {
      max-width: 240px;
      margin: auto;
      margin-bottom: 30px;
      text-align: center;
      @include bp-phone-xl() {
        margin-bottom: 20px;
      }
    }

    .form-wrapper .b-actions, .login #nav {
      text-align: center;

      a {
        font-size: 14px;
        text-decoration: none;
        border: none;
      }

      .e-dot {
        font-size: 16px;
      }
    }

    form {
      &[name="lostpasswordform"] {
        padding: 0 !important;
        background: none !important;
        box-shadow: none !important;
        margin-top: 5px !important;
        display: inline-block;
      }

      input[type="submit"], button[type="submit"] {
        width: 100%;
      }
    }

    .lostpassword {
      #lostpassword {
        max-width: 430px;
        padding-top: 50px;
      }
    }

    .e-separator {
      text-transform: uppercase;
      position: relative;
      width: 100%;
      text-align: center;

      span {
        position: relative;
        z-index: 1;
        background: white;
        padding-left: 50px;
        padding-right: 50px;
      }

      &:before {
        content: "";
        height: 1px;
        background: black;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
      }
    }

    .growtype-form-header {

      & + .form-inner-wrapper {
        form {
          padding-top: 0;
        }
      }

      .nav {
        margin: 0;
        margin: auto;
        max-width: initial;
        padding-top: 35px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .nav-item {
          text-align: center;
          width: 60%;
          margin: 0;
          text-align: center;
          @include bp-phone-xl() {
            width: 100%;
          }

          &.is-active {
            a {
              color: $color-active;
            }
          }
        }

        .nav-link {
          padding: 20px 10px;
          font-size: 22px;
          color: $color-pasive;
        }
      }

      .growtype-form-header-top {
        & + .nav {
          padding-top: 10px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      .growtype-form-header-top, .growtype-form-header-bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        padding-top: 20px;
        gap: 5px;
        border-top: 1px solid #efefef;
        position: relative;
        flex-direction: column;
        align-items: center;

        .growtype-form-header-html {
          display: flex;
          gap: 5px;
          align-content: center;
          justify-content: center;
          width: 100%;
          padding-left: 30px;
          padding-right: 30px;

          p {
            margin: 0;
          }
        }

        .e-title-intro {
          text-align: center;
          font-size: 18px;
          left: 0;
          right: 0;
          margin: auto;

          &:before {
            content: none;
          }

          & + .growtype-form-header-html {
            padding-top: 30px;
          }
        }

        .btn-back {
          margin-right: 15px;
          position: absolute;
          left: 20px;
          top: 20px;
        }
      }

      .growtype-form-header-bottom {
        border: none;
      }
    }

    .growtype-form-footer {
      .nav {
        max-width: 500px;
        margin: auto;
        padding-bottom: 25px;

        .nav-item {
          width: 50%;
          margin: 0;
          text-align: center;
          padding: 20px;
          @include bp-phone-xl() {
            width: 100%;
          }
        }

        .nav-link {
          padding: 20px;
          border: 1px solid #0d6efd;
          border-radius: 5px;

          &.is-active {
            a {
              color: $color-active;
            }
          }
        }
      }

      .growtype-form-footer-top {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        padding-top: 0;
        gap: 5px;
        font-size: 16px;
        position: relative;
      }

      .growtype-form-footer-bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        padding-top: 20px;
        gap: 5px;
        border-top: 1px solid #efefef;
        margin-top: 5px;

        p, a {
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }
}

.has-growtype-form {
  .footer-disabled {
    .site-footer {
      display: none;
    }
  }

  form {
    .chosen-container {
      width: 100% !important;
    }
  }
}
