.growtype-form .s-content {
  padding-top: 20px;
}
@media only screen and (max-width: 640px) {
  .growtype-form .s-content {
    padding-top: 0;
  }
}

.growtype-form-wrapper .alert {
  max-width: 430px;
  margin-bottom: 30px;
  font-size: 14px;
}
.growtype-form-wrapper #growtype-form {
  padding-top: 10px;
}
.growtype-form-wrapper #growtype-form .col-auto {
  width: 50%;
}
@media only screen and (max-width: 640px) {
  .growtype-form-wrapper #growtype-form .col-auto {
    width: 100%;
  }
}
.growtype-form-wrapper #growtype-form .fields-confirmation {
  padding-top: 20px;
}
.growtype-form-wrapper #growtype-form .fields-confirmation .col-auto {
  width: 100%;
  padding-top: 5px;
}
.growtype-form-wrapper #growtype-form .row-submit {
  padding-top: 5px;
}
.growtype-form-wrapper #growtype-form .form-check-input[type=checkbox] {
  margin-right: 7px;
}
.growtype-form-wrapper #growtype-form .form-description {
  margin-bottom: 14px;
  font-size: 12px;
  margin-top: -3px;
}

.login-template-default .growtype-form-wrapper .growtype-form-container, .signup-template-default .growtype-form-wrapper .growtype-form-container {
  margin: auto;
}
.login-template-default .growtype-form-wrapper .alert, .signup-template-default .growtype-form-wrapper .alert {
  max-width: 400px;
  margin: auto;
  font-size: 14px;
  margin-bottom: 30px;
}
.login-template-default .growtype-form-wrapper .form-wrapper .b-actions, .signup-template-default .growtype-form-wrapper .form-wrapper .b-actions {
  margin-top: 20px;
}
.login-template-default .growtype-form-wrapper .form-wrapper .b-actions label, .signup-template-default .growtype-form-wrapper .form-wrapper .b-actions label {
  position: relative;
  bottom: -1px;
}
.login-template-default .growtype-form-wrapper .form-wrapper .login-username, .login-template-default .growtype-form-wrapper .form-wrapper .login-password, .signup-template-default .growtype-form-wrapper .form-wrapper .login-username, .signup-template-default .growtype-form-wrapper .form-wrapper .login-password {
  margin-bottom: 15px;
}
.login-template-default .growtype-form-wrapper .form-wrapper .login-remember, .signup-template-default .growtype-form-wrapper .form-wrapper .login-remember {
  margin-top: 20px;
}
.login-template-default .growtype-form-wrapper .form-wrapper .login-remember label, .signup-template-default .growtype-form-wrapper .form-wrapper .login-remember label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login-template-default .growtype-form-wrapper .form-wrapper .login-remember label input, .signup-template-default .growtype-form-wrapper .form-wrapper .login-remember label input {
  margin-right: 5px;
  top: -1px;
}
.login-template-default .growtype-form-wrapper .logo-wrapper, .signup-template-default .growtype-form-wrapper .logo-wrapper {
  max-width: 240px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .login-template-default .growtype-form-wrapper .logo-wrapper, .signup-template-default .growtype-form-wrapper .logo-wrapper {
    margin-bottom: 20px;
  }
}
.login-template-default .growtype-form-wrapper .form-wrapper .b-actions, .login-template-default .growtype-form-wrapper .login #nav, .signup-template-default .growtype-form-wrapper .form-wrapper .b-actions, .signup-template-default .growtype-form-wrapper .login #nav {
  text-align: center;
}
.login-template-default .growtype-form-wrapper .form-wrapper .b-actions a, .login-template-default .growtype-form-wrapper .login #nav a, .signup-template-default .growtype-form-wrapper .form-wrapper .b-actions a, .signup-template-default .growtype-form-wrapper .login #nav a {
  font-size: 14px;
  text-decoration: none;
  border: none;
  color: #0d6efd;
}
.login-template-default .growtype-form-wrapper .form-wrapper .b-actions .e-dot, .login-template-default .growtype-form-wrapper .login #nav .e-dot, .signup-template-default .growtype-form-wrapper .form-wrapper .b-actions .e-dot, .signup-template-default .growtype-form-wrapper .login #nav .e-dot {
  font-size: 16px;
}
.login-template-default .growtype-form-wrapper form input[type=submit], .login-template-default .growtype-form-wrapper form button[type=submit], .signup-template-default .growtype-form-wrapper form input[type=submit], .signup-template-default .growtype-form-wrapper form button[type=submit] {
  width: 100%;
  margin-top: 20px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  min-height: initial !important;
  line-height: initial !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
  background: #5561e2 !important;
  border-radius: 5px !important;
  max-width: 300px;
  margin-left: auto;
  display: block;
  margin-right: auto;
}
.login-template-default .growtype-form-wrapper form[name=lostpasswordform], .signup-template-default .growtype-form-wrapper form[name=lostpasswordform] {
  padding: 0 !important;
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-top: 5px !important;
  display: inline-block;
}
.login-template-default .growtype-form-wrapper .lostpassword #lostpassword, .signup-template-default .growtype-form-wrapper .lostpassword #lostpassword {
  max-width: 430px;
  padding-top: 50px;
}

.login-template-default .growtype-form-container {
  max-width: 350px;
}
.login-template-default .form-wrapper {
  position: relative;
}
.login-template-default .btn-recover-password {
  position: absolute;
  top: 248px;
  right: 0;
  font-size: 14px;
  text-decoration: none;
  border: none;
}
.login-template-default .login-submit {
  padding-top: 5px;
}

.signup-template-default .growtype-form-container {
  max-width: 450px;
}
.signup-template-default .fields-confirmation {
  margin-top: 5px;
  max-width: 320px;
  margin-left: auto;
  display: block;
  margin-right: auto;
  position: relative;
  bottom: -5px;
}
