.growtype-form-wrapper label.error {
  color: #dc3232;
  display: inline-block;
  width: 100%;
}
.growtype-form-wrapper .alert {
  font-size: 14px;
}
.growtype-form-wrapper form .b-file-preview {
  margin-top: 10px;
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0 0 12px 0px #e6e6e6;
          box-shadow: 0 0 12px 0px #e6e6e6;
}
.growtype-form-wrapper form .b-file-preview .e-title {
  font-size: 14px;
  max-width: 160px;
  margin-top: 10px;
  display: block;
}
.growtype-form-wrapper form .col-auto {
  width: 50%;
}
@media only screen and (max-width: 640px) {
  .growtype-form-wrapper form .col-auto {
    width: 100%;
  }
}
.growtype-form-wrapper form .fields-confirmation {
  padding-top: 10px;
  padding-bottom: 0;
  bottom: -10px;
}
.growtype-form-wrapper form .fields-confirmation .col-auto {
  width: 100%;
  padding-top: 5px;
}
.growtype-form-wrapper form .row-submit {
  padding-top: 20px;
}
.growtype-form-wrapper form .form-check-input[type=checkbox] + .form-label {
  padding-left: 1px;
  margin: 0;
}
.growtype-form-wrapper form .field-description {
  margin-bottom: 14px;
  font-size: 12px;
  margin-top: -3px;
}
.growtype-form-wrapper form .field-explanation {
  font-size: 12px;
  padding-top: 10px;
}
.growtype-form-wrapper .form-label,
.growtype-form-wrapper label[for=user_login],
.growtype-form-wrapper label[for=user_pass] {
  margin-bottom: 0.5rem;
}
.growtype-form-wrapper .form-label .required,
.growtype-form-wrapper label[for=user_login] .required,
.growtype-form-wrapper label[for=user_pass] .required {
  color: #FF5050;
  padding-left: 2px;
}
.growtype-form-wrapper .repeater-fields {
  position: relative;
  margin-top: 20px;
}
.growtype-form-wrapper .repeater-fields:first-child {
  margin-top: 0;
}
.growtype-form-wrapper .repeater-fields .btn-remove {
  position: absolute;
  right: 10px;
  left: initial;
  width: initial;
  top: 0;
  z-index: 1;
  margin: 0;
}
@media only screen and (max-width: 640px) {
  .growtype-form-wrapper .repeater-fields .btn-remove {
    max-width: 80px;
  }
}
.growtype-form-wrapper .repeater-fields-folded {
  padding-bottom: 0;
  margin-top: 0;
}
.growtype-form-wrapper .repeater-fields-folded .repeater-fields > * {
  display: none;
}
.growtype-form-wrapper .repeater-fields-folded .repeater-fields .btn-wrapper {
  display: block;
  margin-top: 0 !important;
}

.login-template-default .form-wrapper,
.signup-template-default .form-wrapper,
.growtype-form-auth .form-wrapper {
  background: white;
  border: 1px solid #e7e7e7;
}
.login-template-default .growtype-form-alert-wrapper,
.signup-template-default .growtype-form-alert-wrapper,
.growtype-form-auth .growtype-form-alert-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}
.login-template-default .growtype-form-alert,
.signup-template-default .growtype-form-alert,
.growtype-form-auth .growtype-form-alert {
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 10px;
}
.login-template-default .wp-block-group-wrapper .growtype-form-alert,
.signup-template-default .wp-block-group-wrapper .growtype-form-alert,
.growtype-form-auth .wp-block-group-wrapper .growtype-form-alert {
  max-width: initial;
}
.login-template-default .container .growtype-form-wrapper .growtype-form-container,
.signup-template-default .container .growtype-form-wrapper .growtype-form-container,
.growtype-form-auth .container .growtype-form-wrapper .growtype-form-container {
  padding-left: 0;
  padding-right: 0;
}
.login-template-default .container .growtype-form-alert-wrapper,
.signup-template-default .container .growtype-form-alert-wrapper,
.growtype-form-auth .container .growtype-form-alert-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.login-template-default .growtype-form-wrapper .growtype-form-container,
.signup-template-default .growtype-form-wrapper .growtype-form-container,
.growtype-form-auth .growtype-form-wrapper .growtype-form-container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.login-template-default .growtype-form-wrapper .alert,
.signup-template-default .growtype-form-wrapper .alert,
.growtype-form-auth .growtype-form-wrapper .alert {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  padding: 1em 3.5em 1em 3.5em;
}
.login-template-default .growtype-form-wrapper[data-name=signup] .form-wrapper, .login-template-default .growtype-form-wrapper[data-name=login] .form-wrapper,
.signup-template-default .growtype-form-wrapper[data-name=signup] .form-wrapper,
.signup-template-default .growtype-form-wrapper[data-name=login] .form-wrapper,
.growtype-form-auth .growtype-form-wrapper[data-name=signup] .form-wrapper,
.growtype-form-auth .growtype-form-wrapper[data-name=login] .form-wrapper {
  padding: 10px 30px;
  padding-bottom: 5px;
}
@media only screen and (max-width: 640px) {
  .login-template-default .growtype-form-wrapper[data-name=signup] .form-wrapper, .login-template-default .growtype-form-wrapper[data-name=login] .form-wrapper,
.signup-template-default .growtype-form-wrapper[data-name=signup] .form-wrapper,
.signup-template-default .growtype-form-wrapper[data-name=login] .form-wrapper,
.growtype-form-auth .growtype-form-wrapper[data-name=signup] .form-wrapper,
.growtype-form-auth .growtype-form-wrapper[data-name=login] .form-wrapper {
    padding: 10px 15px;
  }
}
.login-template-default .growtype-form-wrapper[data-name=signup] .growtype-form-container, .login-template-default .growtype-form-wrapper[data-name=login] .growtype-form-container,
.signup-template-default .growtype-form-wrapper[data-name=signup] .growtype-form-container,
.signup-template-default .growtype-form-wrapper[data-name=login] .growtype-form-container,
.growtype-form-auth .growtype-form-wrapper[data-name=signup] .growtype-form-container,
.growtype-form-auth .growtype-form-wrapper[data-name=login] .growtype-form-container {
  max-width: 558px;
  margin: auto;
}
.login-template-default .growtype-form-wrapper .form-wrapper .login-username,
.login-template-default .growtype-form-wrapper .form-wrapper .login-password,
.signup-template-default .growtype-form-wrapper .form-wrapper .login-username,
.signup-template-default .growtype-form-wrapper .form-wrapper .login-password,
.growtype-form-auth .growtype-form-wrapper .form-wrapper .login-username,
.growtype-form-auth .growtype-form-wrapper .form-wrapper .login-password {
  margin-bottom: 15px;
  position: relative;
}
.login-template-default .growtype-form-wrapper .form-wrapper .login-remember,
.signup-template-default .growtype-form-wrapper .form-wrapper .login-remember,
.growtype-form-auth .growtype-form-wrapper .form-wrapper .login-remember {
  margin-top: 10px;
  display: inline-block;
}
.login-template-default .growtype-form-wrapper .form-wrapper .login-remember label,
.signup-template-default .growtype-form-wrapper .form-wrapper .login-remember label,
.growtype-form-auth .growtype-form-wrapper .form-wrapper .login-remember label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
}
.login-template-default .growtype-form-wrapper .form-inner-wrapper,
.signup-template-default .growtype-form-wrapper .form-inner-wrapper,
.growtype-form-auth .growtype-form-wrapper .form-inner-wrapper {
  position: relative;
}
.login-template-default .growtype-form-wrapper .form-inner-wrapper label:empty,
.signup-template-default .growtype-form-wrapper .form-inner-wrapper label:empty,
.growtype-form-auth .growtype-form-wrapper .form-inner-wrapper label:empty {
  display: none;
}
.login-template-default .growtype-form-wrapper .logo-wrapper,
.signup-template-default .growtype-form-wrapper .logo-wrapper,
.growtype-form-auth .growtype-form-wrapper .logo-wrapper {
  max-width: 240px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .login-template-default .growtype-form-wrapper .logo-wrapper,
.signup-template-default .growtype-form-wrapper .logo-wrapper,
.growtype-form-auth .growtype-form-wrapper .logo-wrapper {
    margin-bottom: 20px;
  }
}
.login-template-default .growtype-form-wrapper .form-wrapper .b-actions,
.login-template-default .growtype-form-wrapper .login #nav,
.signup-template-default .growtype-form-wrapper .form-wrapper .b-actions,
.signup-template-default .growtype-form-wrapper .login #nav,
.growtype-form-auth .growtype-form-wrapper .form-wrapper .b-actions,
.growtype-form-auth .growtype-form-wrapper .login #nav {
  text-align: center;
}
.login-template-default .growtype-form-wrapper .form-wrapper .b-actions a,
.login-template-default .growtype-form-wrapper .login #nav a,
.signup-template-default .growtype-form-wrapper .form-wrapper .b-actions a,
.signup-template-default .growtype-form-wrapper .login #nav a,
.growtype-form-auth .growtype-form-wrapper .form-wrapper .b-actions a,
.growtype-form-auth .growtype-form-wrapper .login #nav a {
  font-size: 14px;
  text-decoration: none;
  border: none;
}
.login-template-default .growtype-form-wrapper .form-wrapper .b-actions .e-dot,
.login-template-default .growtype-form-wrapper .login #nav .e-dot,
.signup-template-default .growtype-form-wrapper .form-wrapper .b-actions .e-dot,
.signup-template-default .growtype-form-wrapper .login #nav .e-dot,
.growtype-form-auth .growtype-form-wrapper .form-wrapper .b-actions .e-dot,
.growtype-form-auth .growtype-form-wrapper .login #nav .e-dot {
  font-size: 16px;
}
.login-template-default .growtype-form-wrapper form[name=lostpasswordform],
.signup-template-default .growtype-form-wrapper form[name=lostpasswordform],
.growtype-form-auth .growtype-form-wrapper form[name=lostpasswordform] {
  padding: 0 !important;
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-top: 5px !important;
  display: inline-block;
}
.login-template-default .growtype-form-wrapper form input[type=submit],
.login-template-default .growtype-form-wrapper form button[type=submit],
.signup-template-default .growtype-form-wrapper form input[type=submit],
.signup-template-default .growtype-form-wrapper form button[type=submit],
.growtype-form-auth .growtype-form-wrapper form input[type=submit],
.growtype-form-auth .growtype-form-wrapper form button[type=submit] {
  width: 100%;
}
.login-template-default .growtype-form-wrapper .lostpassword #lostpassword,
.signup-template-default .growtype-form-wrapper .lostpassword #lostpassword,
.growtype-form-auth .growtype-form-wrapper .lostpassword #lostpassword {
  max-width: 430px;
  padding-top: 50px;
}
.login-template-default .growtype-form-wrapper .e-separator,
.signup-template-default .growtype-form-wrapper .e-separator,
.growtype-form-auth .growtype-form-wrapper .e-separator {
  text-transform: uppercase;
  position: relative;
  width: 100%;
  text-align: center;
}
.login-template-default .growtype-form-wrapper .e-separator span,
.signup-template-default .growtype-form-wrapper .e-separator span,
.growtype-form-auth .growtype-form-wrapper .e-separator span {
  position: relative;
  z-index: 1;
  background: white;
  padding-left: 50px;
  padding-right: 50px;
}
.login-template-default .growtype-form-wrapper .e-separator:before,
.signup-template-default .growtype-form-wrapper .e-separator:before,
.growtype-form-auth .growtype-form-wrapper .e-separator:before {
  content: "";
  height: 1px;
  background: black;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
.login-template-default .growtype-form-wrapper .growtype-form-header + .form-inner-wrapper form,
.signup-template-default .growtype-form-wrapper .growtype-form-header + .form-inner-wrapper form,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header + .form-inner-wrapper form {
  padding-top: 0;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .nav,
.signup-template-default .growtype-form-wrapper .growtype-form-header .nav,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .nav {
  margin: 0;
  margin: auto;
  max-width: initial;
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-item,
.signup-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-item,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .nav .nav-item {
  text-align: center;
  width: 60%;
  margin: 0;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .login-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-item,
.signup-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-item,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .nav .nav-item {
    width: 100%;
  }
}
.login-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-item.is-active a,
.signup-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-item.is-active a,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .nav .nav-item.is-active a {
  color: #0d6efd;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-link,
.signup-template-default .growtype-form-wrapper .growtype-form-header .nav .nav-link,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .nav .nav-link {
  padding: 20px 10px;
  font-size: 22px;
  color: #A4AEC0;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top + .nav,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top + .nav,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top + .nav {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top,
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  gap: 5px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .growtype-form-header-html,
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .growtype-form-header-html,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .growtype-form-header-html,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .growtype-form-header-html,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .growtype-form-header-html,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .growtype-form-header-html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .growtype-form-header-html p,
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .growtype-form-header-html p,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .growtype-form-header-html p,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .growtype-form-header-html p,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .growtype-form-header-html p,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .growtype-form-header-html p {
  margin: 0;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro,
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro {
  text-align: center;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: auto;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro:before,
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro:before,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro:before,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro:before,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro:before,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro:before {
  content: none;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro + .growtype-form-header-html,
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro + .growtype-form-header-html,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro + .growtype-form-header-html,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro + .growtype-form-header-html,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .e-title-intro + .growtype-form-header-html,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .e-title-intro + .growtype-form-header-html {
  padding-top: 30px;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .btn-back,
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .btn-back,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .btn-back,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .btn-back,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-top .btn-back,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom .btn-back {
  margin-right: 15px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.login-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom,
.signup-template-default .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom,
.growtype-form-auth .growtype-form-wrapper .growtype-form-header .growtype-form-header-bottom {
  border: none;
}
.login-template-default .growtype-form-wrapper .growtype-form-footer .nav,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .nav,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .nav {
  max-width: 500px;
  margin: auto;
  padding-bottom: 25px;
}
.login-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-item,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-item,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .nav .nav-item {
  width: 50%;
  margin: 0;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 640px) {
  .login-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-item,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-item,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .nav .nav-item {
    width: 100%;
  }
}
.login-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-link,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-link,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .nav .nav-link {
  padding: 20px;
  border: 1px solid #0d6efd;
  border-radius: 5px;
}
.login-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-link.is-active a,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .nav .nav-link.is-active a,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .nav .nav-link.is-active a {
  color: #0d6efd;
}
.login-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-top,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-top,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  padding-top: 0;
  gap: 5px;
  font-size: 16px;
  position: relative;
}
.login-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  gap: 5px;
  border-top: 1px solid #efefef;
  margin-top: 25px;
}
.login-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom p,
.login-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom a,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom p,
.signup-template-default .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom a,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom p,
.growtype-form-auth .growtype-form-wrapper .growtype-form-footer .growtype-form-footer-bottom a {
  font-size: 14px;
  margin: 0;
}

.has-growtype-form .footer-disabled .site-footer {
  display: none;
}
.has-growtype-form form .chosen-container {
  width: 100% !important;
}

.growtype-form-wrapper input::-webkit-outer-spin-button,
.growtype-form-wrapper input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.growtype-form-wrapper .form-check {
  padding-left: 30px;
  margin: 0;
  min-height: 23px;
}
.growtype-form-wrapper .form-check .form-check-input {
  min-height: 19px;
  position: relative;
  top: 2px;
  width: 19px;
  margin: 0;
  margin-left: -29px;
  min-width: 19px;
  cursor: pointer;
  height: 19px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  float: left;
}
.growtype-form-wrapper .form-check .form-check-input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.growtype-form-wrapper .form-check .form-check-input:before {
  content: "";
  background: #f0f0f0;
  border: 1px solid #e6e6e6;
  bottom: -1px;
  color: #fff;
  font-size: 19px;
  left: -1px;
  position: absolute;
  right: -1px;
  top: -1px;
}
.growtype-form-wrapper .form-check .form-check-input:checked:before {
  bottom: 0;
  color: black;
  content: "\f15e";
  font-family: dashicons;
  font-size: 19px;
  left: 0;
  line-height: 18px;
  position: absolute;
  right: 0;
  text-indent: -1px;
  top: 0;
}
.growtype-form-wrapper input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}
.growtype-form-wrapper input[type=checkbox] {
  cursor: pointer;
}
.growtype-form-wrapper input:not([type=checkbox]):not([type=radio]):not([type=submit]):not(.qty), .growtype-form-wrapper textarea {
  min-height: 48px;
  padding: 10px 15px;
  width: 100%;
}
.growtype-form-wrapper .chosen-container-single .chosen-single abbr {
  top: 15px;
}
.growtype-form-wrapper .e-wrapper {
  position: relative;
}
.growtype-form-wrapper .e-wrapper .input-icon {
  position: absolute;
  right: 20px;
  top: 42px;
  opacity: 0.7;
  pointer-events: none;
}
.growtype-form-wrapper .e-wrapper[data-label=false] .input-icon {
  top: 12px;
}
.growtype-form-wrapper .input-file-wrapper {
  position: relative;
}
.growtype-form-wrapper .input-file-wrapper .dashicons-media-document {
  font-size: 70px;
  width: 70px;
  height: 70px;
}
.growtype-form-wrapper .bootstrap-filestyle .woocommerce form .form-row input.input-text, .growtype-form-wrapper .bootstrap-filestyle .woocommerce form .form-row textarea, .growtype-form-wrapper .bootstrap-filestyle input:not([type=checkbox]):not([type=radio]):not([type=submit]):not(.qty), .growtype-form-wrapper .bootstrap-filestyle textarea {
  width: initial;
}
.growtype-form-wrapper .bootstrap-filestyle .group-span-filestyle {
  z-index: 1;
}
.growtype-form-wrapper .bootstrap-filestyle .form-control {
  background: none !important;
  border: none !important;
}
.growtype-form-wrapper .radio-wrapper input[type=radio] {
  cursor: pointer;
  margin-right: 6px;
}
.growtype-form-wrapper .radio-wrapper label {
  cursor: pointer;
}
.growtype-form-wrapper .radio-wrapper label a {
  font-size: 14px;
}
.growtype-form-wrapper .form-label-placeholder {
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  color: #999fa5;
  pointer-events: none;
  padding: 14px;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  border-radius: 4px;
  border: 1px solid #aaaaaa;
}
.growtype-form-wrapper label.error-label, .growtype-form-wrapper label.error {
  margin-top: 5px;
  font-size: 14px;
}
.growtype-form-wrapper .chosen-container-single .chosen-single {
  height: 48px !important;
}
.growtype-form-wrapper .chosen-container-single .chosen-single span {
  min-height: 45px;
}
.growtype-form-wrapper .chosen-container-single .chosen-single div b {
  top: 11px;
}
.growtype-form-wrapper .chosen-single {
  padding-left: 15px;
}
.growtype-form-wrapper .chosen-container-multi .chosen-choices {
  min-height: 48px !important;
  border-radius: 3px !important;
}
.growtype-form-wrapper .chosen-container-multi .chosen-choices .chosen-search-input {
  min-height: 47px !important;
  margin: 0 !important;
  font-size: 15px !important;
  padding-left: 9px !important;
}

.growtype-form-wrapper input:not([type=checkbox]):not([type=radio]):not([type=submit]):not(.qty)[type=file] {
  padding-top: 13px;
}

.growtype-form-tabs {
  border-bottom: 2px solid #e9ecef;
  margin-bottom: 2rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 2rem 0;
}
.growtype-form-tabs .growtype-form-tabs-item {
  margin-bottom: -2px;
}
.growtype-form-tabs .growtype-form-tabs-link {
  border: none;
  border-bottom: 3px solid transparent;
  background: transparent;
  color: #6c757d;
  font-weight: 500;
  font-size: 15px;
  padding: 0.75rem 1.5rem;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.growtype-form-tabs .growtype-form-tabs-link:hover {
  color: #495057;
  border-bottom-color: #dee2e6;
}
.growtype-form-tabs .growtype-form-tabs-link.active {
  color: #0d6efd;
  border-bottom-color: #0d6efd;
  background: transparent;
}
.growtype-form-tabs .growtype-form-tabs-link:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.growtype-form-tabs-content .growtype-form-tabs-pane {
  display: none;
}
.growtype-form-tabs-content .growtype-form-tabs-pane.active {
  display: block;
  -webkit-animation: fadeIn 0.3s ease-in;
       -o-animation: fadeIn 0.3s ease-in;
          animation: fadeIn 0.3s ease-in;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
    -o-transform: translateY(10px);
       transform: translateY(10px);
  }
  to {
    opacity: 1;
    -o-transform: translateY(0);
       transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
         -o-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .growtype-form-tabs .nav-link {
    padding: 0.5rem 1rem;
    font-size: 14px;
  }
}
.growtype-form-alert-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.growtype-form-alert-wrapper .growtype-form-alert {
  border-radius: 5px;
  font-size: 14px;
  background: #fff;
  border: none;
  color: #000;
  padding: 1em 3.5em;
  position: relative;
  width: 100%;
  border-left: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
  margin-bottom: 1rem;
}
.growtype-form-alert-wrapper .growtype-form-alert:before {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  content: "\f534";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Dashicons;
  font-size: 18px;
  height: 20px;
  left: 20px;
  line-height: 100%;
  margin: auto;
  position: absolute;
  top: 1px;
  width: 20px;
}
.growtype-form-alert-wrapper .growtype-form-alert.alert-danger {
  border-top: 3px solid red;
}
.growtype-form-alert-wrapper .growtype-form-alert.alert-danger:before {
  color: red;
}
.growtype-form-alert-wrapper .growtype-form-alert.alert-success {
  border-top: 3px solid #46b450;
}
.growtype-form-alert-wrapper .growtype-form-alert.alert-success:before {
  color: #46b450;
  content: "\f15e";
}
.growtype-form-alert-wrapper .growtype-form-alert .btn-close {
  height: 20px;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 20px;
  background: none;
}
.growtype-form-alert-wrapper .growtype-form-alert .btn-close:before {
  bottom: 0;
  content: "\f335";
  font-family: dashicons;
  font-size: 22px;
  height: 20px;
  left: 0;
  line-height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.growtype-form-success-content {
  text-align: center;
}

.growtype-form-wrapper {
  color: black;
}
.growtype-form-wrapper .form-wrapper {
  border-radius: 5px;
  position: relative;
  padding: 30px;
}
@media only screen and (max-width: 640px) {
  .growtype-form-wrapper .form-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.growtype-form-wrapper[data-name=signup] .form-wrapper, .growtype-form-wrapper[data-name=login] .form-wrapper {
  background: white;
}

.growtype-form .profile-avatar {
  max-width: 340px;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.growtype-form .profile-avatar .profile-picture {
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}
.growtype-form .profile-avatar input[type=file] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.growtype-form .profile-avatar .e-close {
  position: absolute;
  right: 10px;
  border: 1px solid black;
  padding: 4px 11px;
  top: 10px;
  min-width: 40px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  cursor: pointer;
  background: white;
}
.growtype-form .profile-avatar .e-close svg {
  width: 20px;
  height: 20px;
}
.growtype-form .profile-avatar .e-label {
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
.growtype-form .main-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: -1rem;
}
.growtype-form .main-fields .e-wrapper {
  margin-top: 1rem;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.growtype-form .main-fields .e-wrapper .iti {
  width: 100%;
}
.growtype-form .main-fields h3 {
  font-size: 18px;
  position: relative;
}
.growtype-form .main-fields h3:before {
  content: "";
  height: 3px;
  width: 30px;
  background: #7963F0;
  display: inline-block;
  position: absolute;
  bottom: -12px;
}
.growtype-form .main-fields .e-wrapper.col-12 .select2-container {
  width: 100% !important;
}
.growtype-form .horizontal-content .form-check-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
}
.growtype-form .horizontal-content .form-check-wrapper .form-check {
  margin-right: 15px;
}
